{% extends 'base.html.twig' %}

{% block title %}Page panier{% endblock %}

{% block body %}
    <h1>Votre panier</h1>
    <ul>
    {% for id, product in cart %}
        <li> {{ product.name }} : {{ product.quantity }} </li>
    {% endfor %}
    </ul>


{% endblock %}
