{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
<div class="pt-3 text-center">
    <br>
        <h1>Restaurant Liste</h1>
    <br>
    <p>Voici tous les restaurants</p>

    <br>
    {% for donnee in donnees %}
        <p>{{ donnee.name }}</p>
    {% endfor %}
    </div>
{% endblock %}